* {
    box-sizing: border-box;
}

body {
    margin-inline: 13vw;

    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #777;
}

.img1 {
    float: left;
    shape-outside: circle(39%);
    width: 300px;

    margin-inline-start: -6em;
    margin-block: 1.8rem;
}

.img2 {
    float: right;
    shape-outside: ellipse();
    width: 230px;

    margin-inline: 1.3em -5rem;
}
