* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}
img {
    margin-inline: 20px;
}
.img1 {
    width: 200px;
    clear: both;
    float: left;
}
.img2 {
    width: 200px;
    float: right;
}
p:nth-of-type(2) {
    background-color: lightblue;
}
.box {
    color: #ddd;
    padding: 10px;
    margin-inline-start: 20px;
    border: 1px solid lightgray;
}
.box1 {
    width: 100px;
    height: 100px;
    background-color: darkcyan;
}
.box2 {
    width: 120px;
    height: 120px;
    background-color: darkseagreen;
}
.box3 {
    width: 140px;
    height: 140px;
    background-color: darkslategrey;
}
.box4 {
    width: 160px;
    height: 160px;
    background-color: darkorange;
}