* {
    box-sizing: border-box;
}
:root {
    --page-padding: 2em;
    --margin-from-text: 1em;
    --slide-out: 0;
}
body {
    color: #777;
    padding: var(--page-padding);

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    text-align: justify;
}
img {
    display: block;
    width: 300px;
    margin-block-end: 3px;
}
.img1 {
    float: left;
    margin-inline-start: var(--slide-out);
    margin-inline-end: var(--margin-from-text);
}
.img2 {
    float: right;
    margin-inline-start: var(--margin-from-text);
    margin-inline-end: var(--slide-out);
}
p span {
    font-weight: bold;
    font-size: 24px;
}
