.DS_Store
ex/.DS_Store
ex/car-cards/.DS_Store
ex/car-cards/img/.DS_Store
ex/car-cards/solution/.DS_Store
ex/car-cards/solution/css/.DS_Store
ex/car-cards/solution/img/.DS_Store
ex/fluid-grid/.DS_Store
ex/Image-galery/.DS_Store
ex/Image-galery/img/.DS_Store